<div class="detail">
  <img src=<%= pokemon.escape('image_url') %>><br>
  name: <%= pokemon.escape('name') %><br>
  <% Object.keys(pokemon.attributes).forEach(function (attr) { %>
    <% if (attr != 'id' && attr != 'image_url' && attr != 'name') { %>
      <%= attr %>: <%= pokemon.escape(attr) %><br>
    <% } %>
  <% }) %>
  <p>Toys: </p>
  <ul class="toys"></ul>
</div>
